html {
    scroll-behavior: smooth;
}
html, body, *{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style:none;
}
.btn:focus, #btn-nav:focus{
    box-shadow: 0 0 5px #04d8bd;
    outline: none;
}
h1{
    font-weight: 700;
}
h2, h4, .big-icon{
    color: #373455;
}
.navbar-brand, .font-custom{
    font-weight: 500;
}
.nav-link:hover , .active-section ,  .nav-link:hover i, .btn:hover , .navbar-brand:hover{
    color:#fff;
}
.active-section{
    color:#fff !important;
}
#sketch-holder{
    width: 100%;
    height: 100%;
    position: absolute;
}

.nav-link::after, .active-section::after{
    content:"";
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    margin-top: 5px;
}
.nav-link:hover:after, .active-section::after{
    background-color: #ffff;
}
.navbar {
    top: 0;
    align-items: start;
    z-index: 1;
}
#btn-nav{
    color: white;
    border: 1px solid;
    border-top: 1px solid #00cd9f;
    border-bottom-color: #00587b;
    border-image: linear-gradient(to bottom, #5beaa7 0%, #00cd9f 29%, #007280 100%) 1;
}
.lateral-border{
    border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    border-width: 3px;
    border-style: solid;
}
#header-section, .navbar{
    background-color:rgb(27, 26, 37);
}
#section-home{
    height: 100vh;
    padding-top: 50px; 
    background: linear-gradient(rgb(27, 26, 37), rgba(27, 26, 37, 0.97), rgba(27, 26, 37, 0.81)) , url('../images/bg.svg');
    /* background-image: url('../images/bg.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.section-home-inner{
    max-width: 700px;
    width: 100%;
}
#sketch-holder{
    max-width: 100%;
}
.sketch{
    max-width: 100% !important;
}
.gradient-color, .navbar-brand:hover{
    background-image: -webkit-gradient(linear-gradient(to bottom, #5beaa7 0%, #00cd9f 29%, #007280 100%) );
    background-image: linear-gradient(to bottom, #5beaa7 0%, #00cd9f 29%, #007280 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.color-heading{
    color:#04d8bd;
}
.color-content{
    color: #fff;
}
.btn-custom{
    color: #fff;
    padding:12px 20px 12px 20px;
    border: 1px solid #fff;
}
.btn-more{
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.btn-custom:hover{
    /* background-color:#04d8bd; */
    /* border-color: #04d8bd; */
    background: #00cd9f;

    background: -webkit-linear-gradient(top, #00cd9f 0%, #00bfb4 100%);
    background: linear-gradient(to bottom, #00cd9f 0%, #00bfb4 100%);
    border-image: linear-gradient(to bottom, #00cd9f 0%, #00bfb4 100%);
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.btn-more:hover .fa-arrow-right{
    transform:  rotate(90deg);
    position: relative;
    top: -3px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
#section-projects, #section-languages{
    padding-top: 100px;
}
#section-projects p{
    color:#486668;
}
.img-container{
    overflow:hidden;
}
.img-project{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}
.img-project:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.btn-project{
    padding: 5px 10px 5px 5px;
    border: 1px solid black;
}
.btn-project:hover{
    background-color: #373455;
    border: 1px solid #373455;
}
.btn-project:focus{
    box-shadow: 0 0 5px #373455;
}
.btn-tag{
    padding: 3px 7px;
    color:#fff;
    font-size: 12px;
    margin-right: 1%;
}
.btn-laravel{
    background-color: #37C97B;
}
.btn-bootstrap{
    background-color: #0A4DD5;
}
.btn-jquery{
    background-color: #A7D50A;
}

/* progress bar style */
.skills li{
    margin: 20px 0;
}
.skills span{
    display: inline-block;
}
.big-icon {
    font-size: 32px;
}
.bar{
    display: block;
    background-color: #353b48;
    height: 4px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 5px #04d8bd;
    padding-left: 0px !important;
    margin-bottom: 10px;

}
.bar span{
    height: 2px;
    float: left;
    background-image: linear-gradient(to bottom, #5beaa7 0%, #00cd9f 29%, #007280 100%);
}
.php{
    width: 60%;
}
.js{
    width: 40%;
    
}
.css{
    width: 80%;
   
}
.html5{
    width: 75%;
}
.mysql{
    width: 50%;
}
.image-language{
    max-width: 50px;
    max-height: 34px;

}
.framework{
    width: 100%;
    max-width: 100px;
}

/* end progress bar style */



#section-contact{
    padding: 150px 0px 100px 0px;
    clip-path: polygon(49% 19%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-color: #1b1a25;
}
.section-contact-inner{
    width: 60%;
}
input[type="text"], input[type="email"], textarea {
    background-color: #121219 !important;
    border: 0 !important;
    border-radius: 0 !important;
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
    box-shadow: 0 0 0 0.2rem rgba(4, 216, 189, 0.25) !important;
}
input[type="text"]:invalid, input[type="email"]:invalid, textarea:index{
    box-shadow: 0 0 0 0.2rem rgba(194, 4, 4, 0.25) !important;
}
.btn-send{
    transition-duration: .4s;
}
.btn-send:hover{
    color:transparent;
}
.btn-send:hover #right-arrow{
    color: white;
    left: -20px;
    position: relative;
    transition-duration: .1s;
}
#section-footer{
    height: 70px;
    background-color: #121219;
    width: 100%;
    color: #486668;
}
.btn-footer{
    color: #ffff;
    background: #00cd9f;
    background: -webkit-linear-gradient(top, #00cd9f 0%, #00bfb4 100%);
    top: -18px;
    position: relative;
    border-radius: 0;
}
@media (max-width: 576px) { 
    .section-contact{
        clip-path: polygon(49% 9%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    .section-contact-inner{
        width: 100%;
    }
}
@media (max-width: 760px){
    .nav-link::after, .active-section::after{
        width: 71px;
    }
}